body {
    background-color: rgb(254,244,216);
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: 'Black Han Sans', sans-serif;
    align-self: center;
    text-align: center;
}
.header {
    margin: auto 20px;
    padding: auto;
    height: 125px;
    display: flex;
    justify-content: space-between;
    font-family: 'East Sea Dokdo', cursive;
}
.score {
    font-size: 2em;
    align-self: center;
    padding: 10px;
}
.scoreboard {
    font-size: 1.75em;
    align-self: flex-start;
    display: flex;
    line-height: .2rem;
    flex-direction: column;

}
.ticker {
    width: 5em;
    height: 25px;
}
.start-over {
    margin: 1em;
}
.tower-background {
    background-image: url(images/background_clouds.jpg);
    background-repeat: round;
    background-size: 25rem;
}
.towers {
    display: flex;
    justify-content: space-around;
    margin: 100px 30px -9px 30px;
    min-width: 900px;
}
.tower-area {
    display: flex;
    padding: 0 120px;
}
.tower {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid;
    border-radius: 50px 50px 0 0;
    background-color: #585858;
    width: 25px;
    height: 350px;
    margin-top: 30px;
}
.board-base {
    padding: 15px;
    margin: 0 30px;
    border-radius: 50px 50px 0 0;
    background-color: #585858;
    min-width: 900px;
}
.disk {
    border: solid;
    border-radius: 30px;
    height: 35px;
    cursor: pointer;
}
#disk1 {
    background-color: rgba(145, 189, 202);
    width: 60px;
}
#disk2 {
    background-color: rgba(224, 110, 189);
    width: 90px;
}
#disk3 {
    background-color: rgba(224, 145, 110);
    width: 120px;
}
#disk4 {
    background-color: rgba(145, 224, 189);
    width: 150px;
}
#disk5 {
    background-color: rgba(224, 202, 110);
    width: 180px;
}
#disk6 {
    background-color: rgba(189, 224, 110);
    width: 210px;
}
#disk7 {
    background-color: rgba(224, 110, 132);
    width: 240px;
}
#disk8 {
    background-color: rgba(202, 110, 224);
    width: 270px;
}
.start-over {
    align-self: center;
    padding: 11px;
	background-color: rgb(224, 189, 110, .5);
	border: solid;
    border-radius: 5px;
	outline: none;
	color: black;
	font-family: 'Do Hyeon', sans-serif;
	cursor: pointer;
}
#modal {
    display: none;
	background-color: rgba(251, 219, 156, 0.35);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}
#modal-textbox {
	background-color: whitesmoke;
    font-family: 'Do Hyeon', sans-serif;
    text-align: justify;
	height: 350px;
	width: 550px;
	border-radius: 5px;
	margin: 150px auto;
	box-shadow: 0 2px 2px black;
	padding: 4% 6%;
	line-height: 150%;
}
.modal-button {
    align-self: center;
    padding: 10px;
	background-color: rgb(110, 224, 132, .5);
	border: solid;
    border-radius: 5px;
	outline: none;
	color: black;
	font-family: 'Do Hyeon', sans-serif;
	cursor: pointer;
}
#modal-footer {
	text-align: right;
}
.homepage {
    background-image: url(images/hanoi.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 50%;
    height: 600px;
}
.play-screen {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.play-button {
    align-self: center;
    text-decoration: none;
    margin-top: 80px;
    padding: 10px 20px;
	background-color: rgb(63, 215, 224, .9);
	border: solid;
    border-radius: 5px;
	outline: none;
	color: black;
	font-family: 'East Sea Dokdo', cursive;
    font-size: 30px;
	cursor: pointer;
}