body {
    background-color: #EAEAEA;
    min-width: 800px;
}
h1 {
    text-align: center;
}
h4 {
    text-align: right;
}
.header {
    margin: auto 20px;
    height: 125px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.heading {
    order: 1;
}
.scoreboard {
    align-self: flex-end;
    line-height: .5rem;
    order: 2;
}
.score-title {
    margin-right: 60px;
}
.score {
    
}
.tick-container {
    order: 4;
    flex-flow: row nowrap;
    width: 100%;
}
.ticker {
    width: 3em;
    height: 25px;
}
.towers {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: auto 30px;
    height: 600px;
}
.tower {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: solid;
    border-radius: 50px 50px 0 0;
    background-color: #585858;
    min-width: 45px;
    max-width: 45px;
    margin: 30px 100px 0 100px;
}
.board-base {
    padding: 15px;
    border: solid;
    margin: auto 30px;
    background-color: #1D1D1D;
}
.disk {
    border: solid;
    border-radius: 30px;
    height: 50px;
}
.small {
    background-color: #C12EE3;
    width: 90px;

}
.medium {
    background-color: #50E32E;
    width: 160px;
}
.large {
    background-color: #E3672E;
    width: 245px;
}

#modal {
    display: none;
	background-color: rgba(182, 171, 116, 0.50);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}
#modal-textbox {
	background-color: whitesmoke;
	height: 350px;
	width: 550px;
	border-radius: 5px;
	margin: 150px auto;
	box-shadow: 0 2px 2px black;
	padding: 2% 4%;
	line-height: 150%;
}
.modal-button {
    align-self: center;
    order: 0;
    padding: 10px;
    margin-left: 20px;
	background-color: #B68A74;
	border: none;
    border-radius: 5px;
	outline: none;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}
#modal-footer {
	text-align: right;
}